#chooser {
    background-color: lightcoral;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    display: flex;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: #0e0d0d;
    font-size: 20px;
}
#chooser > button {
    font-size: 25px;
    color: darkblue;
    background-color: var(--mainbody-bc);
    margin: 0px 15px;
    border-radius: 5px;
    cursor: pointer;
}